<div class="card card-custom gutter-b">
  <!-- Body -->
  <div class="card-body">
    <div class="success-checkmark">
      <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12 text-center">
        <h1>Thêm mới thành công!</h1>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-6 text-right">
        <button type="button" class="btn btn-primary" (click)="handleBack()">Trở về trang chủ</button>
      </div>
      <div class="col-lg-6 text-left">
        <button type="button" class="btn btn-" (click)="handleCreate()">Thêm bài kiểm tra khác</button>
      </div>
    </div>
  </div>
  <!-- End Body -->
</div>
