<div class="card card-custom gutter-b">
  <!-- Header Page -->
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách môn học</h3>
    </div>
  </div>
  <!-- End Header Page -->

  <!-- Body -->
  <div class="card-body">
    <div class="row" *ngFor="let item of services.items$ | async; let i = index">
      <mat-card class="card-info mt-5 bg-success">
        <mat-card-content>
          <h1>{{item.TenMonHoc}}</h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- End Body -->
</div>
