<div class="card card-custom gutter-b">
  <!-- Header Page -->
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">DANH SÁCH LỚP</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light btn-elevate mr-2">Trở về</button>
    </div>
  </div>
  <!-- End Header Page -->

  <!-- Body -->
  <div class="card-body">
    <!-- Search Filter -->
    <div class="form form-label-right">
      <div class="form-group row" [formGroup]="searchGroup">
        <div class="col-lg-6">
          <input type="text" value="" class="form-control" placeholder="Tìm kiếm tên học sinh" name="searchText"
            formControlName="searchTerm" />
          <small class="form-text text-muted"><b>Tìm kiếm</b> dữ liệu</small>
        </div>
      </div>
    </div>
    <!-- End Search Filter -->

    <!-- Data table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>STT</th>
          <th>
            Họ Tên
            <app-sort-icon column="HoTen" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Tên Lớp
            <app-sort-icon column="TenLop" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Phái
            <app-sort-icon column="Phai" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Tên Niên Khóa
            <app-sort-icon column="TenNienKhoa" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Ngày Sinh
            <app-sort-icon column="NgaySinh" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>Thao tác</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of services.items$ | async; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.HoTen | uppercase }}</td>
            <td>{{ item.TenLop | uppercase }}</td>
            <td>{{ item.Phai }}</td>
            <td>{{ item.TenNienKhoa }}</td>
            <td>{{ item.NgaySinh | date: "dd/MM/YYYY" }}</td>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <td>
                  <a matTooltip="Cấp lại mật khẩu" matTooltipPosition="after"
                    class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3"
                    (click)="resetPassword(item.IdNv, item.HoTen)">
                    <span [inlineSVG]="'./assets/media/svg/icons/General/Update.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md svg-icon-primary">
                    </span>
                  </a>
                </td>
              </li>
            </ul>
          </tr>
        </tbody>
      </table>
      <div class="text-center" style="margin: 20px 0; text-transform: uppercase" *ngIf="isEmptyDataSource()">
        Không có dữ liệu
      </div>
    </div>
    <!-- End Data Table -->

    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)">
    </app-paginator>
  </div>
  <!-- End Body -->
</div>