<div class="card card-custom gutter-b">
  <!-- Header Modal -->
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Chi tiết hợp đồng mẫu</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-light btn-elevate mr-2" routerLink="/hop-dong/danh-muc/hop-dong-mau">Trở lại</button>
    </div>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="card-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>
    <ng-container>
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Nhóm hợp đồng</label>
            <mat-select
              placeholder="Chọn nhóm hợp đồng"
              class="form-control form-control-lg"
              formControlName="nhomHopDong"
              (selectionChange)="setValueRule($event)"
              [class.is-invalid]="ValidateFormGroupEvent('nhomHopDong', formGroup, 1)"
              [class.is-valid]="ValidateFormGroupEvent('nhomHopDong', formGroup, 0)"
            >
              <mat-option value="1"> Hợp đồng mua </mat-option>
              <mat-option value="2"> Hợp đồng bán </mat-option>
            </mat-select>
            <div class="valid-feedback" *ngIf="ValidateFormGroupEvent('nhomHopDong', formGroup, 0)">
              Thông tin chính xác
            </div>
            <div class="invalid-feedback" *ngIf="ValidateFormGroupEvent('nhomHopDong', formGroup, 1)">
              Vui lòng chọn nhóm hợp đồng
            </div>
          </div>
          <div class="col-lg-6">
            <label class="form-label">Trạng thái</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              [value]="
                this.formGroup.controls.trangThai.value == 1
                  ? 'Chưa áp dụng'
                  : this.formGroup.controls.trangThai.value == 2
                  ? 'Đang áp dụng'
                  : this.formGroup.controls.trangThai.value == 3
                  ? 'Đã hết hiệu lực'
                  : 'Không xác định'
              "
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label class="form-label">Tên hợp đồng</label>
            <input
              type="text"
              class="form-control form-control-lg"
              formControlName="tenHopDong"
              [class.is-invalid]="ValidateFormGroupEvent('tenHopDong', formGroup, 1)"
              [class.is-valid]="ValidateFormGroupEvent('tenHopDong', formGroup, 0)"
            />
            <div class="valid-feedback" *ngIf="ValidateFormGroupEvent('tenHopDong', formGroup, 0)">
              Thông tin chính xác
            </div>
            <div class="invalid-feedback" *ngIf="ValidateFormGroupEvent('tenHopDong', formGroup, 1)">
              Vui lòng nhập tên hợp đồng
            </div>
          </div>
          <div class="col-lg-6">
            <label class="form-label">Loại hợp đồng</label>
            <input
                type="text"
                name="loaiHopDong"
                class="form-control form-control-lg"
                [class.is-invalid]="ValidateFormGroupEvent('loaiHopDong', formGroup, 1)"
                [class.is-valid]="ValidateFormGroupEvent('loaiHopDong', formGroup, 0)"
                formControlName="loaiHopDong"
                readonly="true"
              />
            <div class="valid-feedback" *ngIf="ValidateFormGroupEvent('loaiHopDong', formGroup, 0)">
              Thông tin chính xác
            </div>
            <div class="invalid-feedback" *ngIf="ValidateFormGroupEvent('loaiHopDong', formGroup, 1)">
              Vui lòng chọn loại hợp đồng
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-6">
            <label>Ngày hiệu lực</label>
            <div class="input-group">
              <input
                type="text"
                name="dob"
                class="form-control form-control-lg"
                autocomplete="off"
                (click)="d.toggle()"
                placeholder="dd/mm/yyyy"
                ngbDatepicker
                #d="ngbDatepicker"
                [class.is-invalid]="ValidateFormGroupEvent('ngayHieuLuc', formGroup, 1)"
                [class.is-valid]="ValidateFormGroupEvent('ngayHieuLuc', formGroup, 0)"
                formControlName="ngayHieuLuc"
                readonly="true"
              />
              <div class="input-group-append" (click)="d.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="valid-feedback" *ngIf="ValidateFormGroupEvent('ngayHieuLuc', formGroup, 0)">
              Thông tin chính xác
            </div>
            <div class="invalid-feedback" *ngIf="ValidateFormGroupEvent('ngayHieuLuc', formGroup, 1)">
              Vui lòng nhập ngày hiêu lực
            </div>
          </div>
          <div class="col-lg-6">
            <label>Ngày hết hiệu lực</label>
            <div class="input-group">
              <input
                type="text"
                name="dob"
                class="form-control form-control-lg"
                autocomplete="off"
                placeholder="dd/mm/yyyy"
                ngbDatepicker
                #dc="ngbDatepicker"
                (click)="dc.toggle()"
                [class.is-invalid]="ValidateFormGroupEvent('ngayHetHieuLuc', formGroup, 1)"
                [class.is-valid]="ValidateFormGroupEvent('ngayHetHieuLuc', formGroup, 0)"
                formControlName="ngayHetHieuLuc"
                readonly="true"
              />
              <div class="input-group-append" (click)="dc.toggle()">
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="valid-feedback" *ngIf="ValidateFormGroupEvent('ngayHetHieuLuc', formGroup, 0)">
              Thông tin chính xác
            </div>
            <div class="invalid-feedback" *ngIf="ValidateFormGroupEvent('ngayHetHieuLuc', formGroup, 1)">
              Vui lòng nhập ngày hết hiêu lực
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
              <!-- <input type="file"
                  #fileUpload
                  name="fileUpload"
                  id="upload-file"
                  (change)="FileSelected($event)"
                  hidden>
              <input
                type="text"
                [value]="this.fileToUpLoadName"
                style="cursor: pointer;"
                formControlName="uploadFileName"
                class="form-control form-control-lg"
                (click)="selectFile()"
                readonly="true"
              /> -->
              <mat-form-field floatLabel="always" class="mat-form-field-fluid">
                <mat-label>File đính kèm</mat-label>
                <input
                  style="cursor: pointer"
                  readonly
                  matInput
                  (click)="downloadFile(this.fileDownload)"
                  formControlName="uploadFileName"
                  type="text"
                />
                <a 
                  (click)="downloadFile(this.fileDownload)"
                  style="cursor: pointer;"
                >Download file</a>
              </mat-form-field>
              <input #fileUpload type="file" name="fileUpload" (change)="FileSelected($event)" style="display: none">
              <!-- <input #fileUpload type="file" name="fileUpload" (change)="FileSelected($event)" style="display: none" />
              <div
                class="input-group-append"
                for="file-upload"
                onClick="document.querySelector('#upload-file').click()"
              >
                <span class="input-group-text">
                  <i class="text-dark-50 flaticon-attachment"></i> &nbsp; Chọn file
                </span>
              </div> -->
          </div>
        </div>
      </form>
      <ng-container>
        <form action="#" class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-12">
              <label>Thông tin hợp đồng</label>
              <!-- Data table -->
              <div class="table-responsive angular-bootstrap-table">
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                  <thead>
                    <th>STT</th>
                    <th>Tên từ khóa</th>
                    <th>Từ khóa thay thế</th>
                    <th>Nội dung</th>
                  </thead>
                  <tbody                    
                    *ngFor="let item of danhSachThongTinHopDong; let i = index"
                  >
                    <tr>
                      <td>{{ i + 1 }}</td>
                      <td>
                        {{item.TenTuKhoa}}
                      </td>
                      <td>
                        {{item.TuKhoaThayThe}}
                      </td>
                      <td>
                        {{item.NoiDungMacDinh}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End Data Table -->
            </div>
          </div>
        </form>
      </ng-container>
    </ng-container>
  </div>
  <!-- End Body -->
</div>
