<div class="card card-custom gutter-b">
    <!-- Header Page -->
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">Danh sách niên khóa</h3>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-primary" (click) = "create()">Thêm mới</button>
      </div>
    </div>
    <!-- End Header Page -->
  
    <!-- Body -->
    <div class="card-body">
      <!-- Search Filter -->
      <div class="form form-label-right">
        <div class="form-group row" [formGroup]="searchGroup">
          <div class="col-lg-6">
            <input
              type="text"
              value=""
              class="form-control"
              placeholder="Tìm kiếm tên niên khóa"
              name="searchText"
              formControlName="searchTerm"
            />
            <small class="form-text text-muted"><b>Tìm kiếm</b> dữ liệu</small>
          </div>
        </div>
      </div>
      <!-- End Search Filter -->  
      <ng-container *ngFor="let item of services.items$ | async; let i = index">
        <mat-card class="mr-3" style="width: 20%; float: left;">
          <mat-card-title align="center">{{item.TenNienKhoa}}</mat-card-title>
          <mat-divider inset></mat-divider>
          <mat-card-actions align="center">
            <a
                      matTooltip="Chỉnh sửa"
                      matTooltipPosition="after"
                      class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3"
                      (click) = "edit(item.Id)"
                    >
                      <span
                        [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                        cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-primary"
                      >
                      </span>
                    </a>
                    <a
                      matTooltip="Xóa"
                      matTooltipPosition="after"
                      class="btn btn-icon btn-light btn-hover-danger btn-sm"
                      (click) = "delete(item.Id)"
                    >
                      <span
                        [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                        cacheSVG="true"
                        class="svg-icon svg-icon-md svg-icon-danger"
                      >
                      </span>
                    </a>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <app-paginator
        class="d-flex justify-content-between align-items-center flex-wrap"
        style="clear:both"
        [paginator]="paginator"
        [isLoading]="isLoading"
        (paginate)="paginate($event)"
      >
      </app-paginator>
    </div>
    <!-- End Body -->
  </div>
  