<div class="modal-consupplyNamet">
  <!-- Header Modal -->
  <div class="modal-header">
    <div class="modal-title h1" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="data"> CHI TIẾT TÀI KHOẢN </ng-container>
    </div>
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Trở về</button>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="data">
      <div class="form-group row text-center">
        <img
          [src]="env+data.Picture"
          class="rounded mx-auto d-block"
          alt="Ảnh đại diện"
          width="200"
          height="200"
          style="object-fit: cover;"
        />
      </div>
      <div class="form-group row">
        <table class="table table-bordered">
          <tr>
            <td style="font-weight: bold;">Họ và tên: </td>
            <td>{{data.HoTen}}</td>
            <td style="font-weight: bold;">Tên đăng nhập: </td>
            <td>{{data.Username}}</td>            
          </tr>
          <tr>
            <td style="font-weight: bold;">Bộ môn: </td>
            <td>{{data.TenCoCau}}</td>
            <td style="font-weight: bold;">Giáo viên chủ nhiệm: </td>
            <td>{{data.Phai == '1' ? 'Có' : 'Không'}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Ngày sinh: </td>
            <td>Ngày {{data.Ngaysinh | date:'dd'}} tháng {{data.Ngaysinh | date:'MM'}} năm {{data.Ngaysinh | date:'YYYY'}}</td>
            <td style="font-weight: bold;">Giới tính: </td>
            <td>{{data.Phai == '1' ? 'Nam' : 'Nữ'}}</td>
          </tr>
          <tr>
            <td style="font-weight: bold;">Email: </td>
            <td>{{data.Email}}</td>
            <td style="font-weight: bold;">Số điện thoại: </td>
            <td>{{data.SodienthoaiNguoilienhe}}</td>
          </tr>
        </table>
      </div>
    </ng-container>
  </div>
  <!-- End Body -->
</div>
