<div class="card card-custom gutter-b">
  <!-- Header Modal -->
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">THÔNG TIN CÁ NHÂN</h3>
    </div>
  </div>
  <!-- End Header -->
  <!-- Body -->
  <div class="card-body">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="data">
      <div class="form-group row text-center">
        <!-- <img
                [src]="env+data.Picture"
                class="rounded mx-auto d-block"
                alt="Ảnh đại diện"
                width="200"
                height="200"
                style="object-fit: cover;"
              /> -->
      </div>
      <div class="form-group row">
        <table class="table table-bordered">
          <tr>
            <td style="font-weight: bold">Họ và tên:</td>
            <td>{{ data.HoLot }} {{ data.Ten }}</td>
            <td style="font-weight: bold">Tên đăng nhập:</td>
            <td>{{ data.Username }}</td>
          </tr>
          <tr>
            <ng-container *ngIf="!data.IsStudent">
              <td style="font-weight: bold">Bộ môn:</td>
              <td>{{ data.Department }}</td>
            </ng-container>
            <ng-container *ngIf="data.ClassName.length == 0 && data.ManageClass.length != 0 && !data.IsStudent">
              <td style="font-weight: bold">Lớp chủ nhiệm:</td>
              <td>{{ data.ManageClass }}</td>
            </ng-container>
            <ng-container *ngIf="data.ClassName.length != 0 && data.ManageClass.length == 0 && data.IsStudent">
              <td style="font-weight: bold">Học sinh lớp:</td>
              <td>{{ data.ClassName | uppercase }}</td>
            </ng-container>
            <ng-container *ngIf="data.ClassName.length != 0 && data.ManageClass.length == 0 && data.IsStudent">
              <td style="font-weight: bold">Giáo viên chủ nhiệm:</td>
              <td>{{ TenGiaoVien }}</td>
            </ng-container>
          </tr>
          <tr>
            <td style="font-weight: bold">Ngày sinh:</td>
            <td>Ngày {{ data.Birthday | date: 'dd' }} tháng {{ data.Birthday | date: 'MM' }} năm {{ data.Birthday | date: 'YYYY' }}</td>
            <td style="font-weight: bold">Giới tính:</td>
            <td>{{ data.Gender == 1 ? 'Nam' : 'Nữ' }}</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Email:</td>
            <td>{{ data.Email }}</td>
            <td style="font-weight: bold">Số điện thoại:</td>
            <td>{{ data.SoDienThoai }}</td>
          </tr>
        </table>
      </div>
      <div class="form-group row">
        <h4>Đổi mật khẩu</h4>
      </div>
      <form class="form-group row" (keyup.enter)="changePassword()" [formGroup]="formThongTin">
        <div class="col-lg-4">
          <label class="form-label">Mật khẩu cũ</label>
          <input type="password" class="form-control form-control-lg" placeholder="Nhập mật khẩu cũ" formControlName="oldPassword" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Mật khẩu mới</label>
          <input type="password" class="form-control form-control-lg" placeholder="Nhập mật khẩu mới" formControlName="newPassword" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Nhập lại khẩu mới</label>
          <input type="password" class="form-control form-control-lg" placeholder="Nhập lại mật khẩu mới" formControlName="retypeNewPassword" />
        </div>
      </form>
      <div class="form-group row">
        <div class="col-lg-12 text-center">
          <button class="btn btn-primary" (click)="changePassword()">
            <span [inlineSVG]="'./assets/media/svg/icons/General/Update.svg'" cacheSVG="true" class="svg-icon svg-icon-md"></span>
            Đổi mật khẩu
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- End Body -->
</div>
